body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: table;
    width: 100%;
    padding: 0;
    margin:0%;
    height: 480px;
    color: #333;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: 720px;
    min-width: 710px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3332;
}
div.container {
    background-color: #fff7;
    border-color:#118;
    border-width: 0.2rem;
    border-style: solid;
    display: table-cell;
    border-radius: 2rem;
    vertical-align: middle;
    padding: 20px;
}

div.inner {
    /* border: #333 solid; */
    height: 432px;
}

div.page-title {
    background-color: #118;
    border-radius: 20px 20px 0 0;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: white;
}

div.info {
    margin: 1.5rem auto;
    background-color: #1183;
    border: #1183 solid;
    padding: 20px;
    /* font-style: italic; */
    font-weight: bold;
}

.text-input {
    height: 3rem;
    width: 98.5%;
    text-align: center;
    border-color: #1185;
    border-width: 0.2rem;
    font-size: 25px;
    /* border-radius: 20px; */
    margin-bottom: 1.5rem;

}

button.button {
    height: 3.5rem;
    /* width: 100%; */
    font-size: large;
    cursor: pointer;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    background-color: #118d;
    border: none;
    color: white;

}

button.submit-button {
    height: 3.5rem;
    width: 100%;
    font-size: large;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    text-transform: uppercase;
    background-color: #118d;
    border: none;
    color: white;

}

button.submit-button:hover, button.button:hover {
    background-color: #118;
} 
h1, h2, h3, h4 {
    font-weight: lighter;
    margin: 0;
}

h1 {
    font-size: 7em;
}

h3 {
    font-size:4em;
}

p {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 0.95em;
}
a.button {
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 15px;
    display: inline-block;
    box-sizing: border-box;
}

.system-info {
    position: fixed;
    bottom: 35px;
    text-align: center;
    width: 710px;
    margin-left: -20px;
}